<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com"/>
	<add key="FacebookAppId" value="1047679626175361"/>
	<add key="FacebookAppSecret" value="2f09d37e5c59ca912f6f207c8d1e3ae6"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>